body {
    /*creates gradient background*/
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.board {
    /*creates board for game to be played on*/
    background-color: darkgrey;
    border-radius: 25px 25px 25px 25px;
    height: 800px;
    width: 700px;
    opacity: 60%;
    position: absolute;  
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    z-index: 1;
}
/*title of game*/
.word {
    text-align: center;
    z-index: 2;
    position: absolute;
    width: 500px;
    left: 50%;
    translate: -50%;
}

/*rock*/
.button1 {
    border-radius: 50%;
    background-color: rgb(228, 134, 228);
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 2;
    margin-top: 120px;
    margin-left: 690px;
}
/*paper*/
.button2 {
    border-radius: 50%;
    background-color: rgb(228, 134, 228);
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 2;
    margin-top: 120px;
    margin-left: 920px;
}
/*scissors*/
.button3 {
    border-radius: 50%;
    background-color: rgb(228, 134, 228);
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 2;
    margin-top: 120px;
    margin-left: 1140px;
}
/*reset*/
.button4 {
    background-color: rgb(228, 134, 228);
    height: 50px;
    width: 300px;
    position: absolute;
    z-index: 2;
    margin-top: 700px;
    margin-left: 820px;
}
/*computer chose*/
#yopt {
    position: absolute;
    height: 200px;
    width: 300px;
    left: 660px;
    top: 350px;
    border: 2px dashed black;
    text-align: center;
}
/*computer chose*/
#copt {
    position: absolute;
    height: 200px;
    width: 300px;
    left: 980px;
    top: 350px;
    border: 2px dashed black;
    text-align: center;
}
/*your score*/
#yscore {
    position: absolute;
    height: 50px;
    width: 300px;
    left: 660px;
    top: 560px;
    border: 2px dashed black;
    text-align: center;
}
/*computer score*/
#cscore {
    position: absolute;
    height: 50px;
    width: 300px;
    left: 980px;
    top: 560px;
    border: 2px dashed black;
    text-align: center;
}

